<h3>
  Config
</h3>
<mat-list>
  <mat-list-item *ngFor="let configItem of configItems">
    <mat-form-field>
      <label>
        {{ configItem.key }}
      </label>
      <mat-select *ngIf="configItem.possibleValues.length > 0" [(ngModel)]="configItem.value">
        <mat-option *ngFor="let option of configItem.possibleValues" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <input matInput *ngIf="configItem.possibleValues.length == 0" [(ngModel)]="configItem.value" />
    </mat-form-field>
  </mat-list-item>
  <button mat-raised-button (click)="save()" color="primary">
    Save
  </button>
</mat-list>