<section fxLayout="row">
  <div fxHide.xs fxFlex.gt-xs="25" class="md-padding">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h3 fxLayout="row">
              <span fxFlex>
                {{ 'lights.header' | translate }}
              </span>
              <span class="md-clickable" (click)="openConfigModal()">
                <i class="material-icons">settings</i>
              </span>
            </h3>
          </mat-list-item>
          <mat-list-item *ngFor="let light of lights" (click)="selectLight(light)" class="md-clickable">
            {{ light.name }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.gt-xs="75" class="md-padding">
    <div fxHide.gt-xs fxLayout="row">
      <mat-form-field fxFlex>
        <mat-select [(ngModel)]="selectedLight">
          <mat-option *ngFor="let light of lights" [value]="light">
            {{ light.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card *ngIf="selectedLight">
      <mat-card-title>
        <h4>
          <span fxFlex>
            {{selectedLight.name}}
            </span>
            <mat-slide-toggle [(ngModel)]="selectedLight.state.on" (change)="changeLight()">
            </mat-slide-toggle>
        </h4>
      </mat-card-title>
      <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="20">
              <span>
                Saturation
              </span>
            </div>
            <div fxFlex="80">
              <mat-slider min="0" max="255" [(ngModel)]="selectedLight.state.saturation" (change)="changeLight()" [disabled]="!selectedLight.state.on"></mat-slider>                   
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="20">
              <span>
                Brightness
              </span>
            </div>
            <div fxFlex="80">
                <mat-slider min="0" max="255" [(ngModel)]="selectedLight.state.brightness" (change)="changeLight()" [disabled]="!selectedLight.state.on"></mat-slider>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="20">
              <span>
                Hue
              </span>
            </div>
            <div fxFlex="80">
              <mat-slider min="0" max="40000" [(ngModel)]="selectedLight.state.hue" (change)="changeLight()" [disabled]="!selectedLight.state.on"></mat-slider>
            </div>
          </div>
        </mat-card-content>
    </mat-card>
  </div>
</section>
