<section fxLayout="row" *ngIf="error">
  <div id="error-box" fxFlex>
    <span fxFlex>
      {{ error }}
    </span>
    <span (click)="closeErrorBox()" class="md-clickable">
      <i class="material-icons">close</i>
    </span>
  </div>
</section>