<mat-toolbar color="primary">
  <div fxLayout="row">
    <span fxFlex="100"></span>
    <span (click)="toggleSidebar()" class="md-clickable" fxHide.gt-xs>
      <i class="material-icons">menu</i>
    </span>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" fxLayout="row">
  <mat-drawer mode="side" [opened]="sidebarOpen()">
    <mat-list>
      <mat-list-item>
        <a routerLink="/">
            {{ 'menu.dashboard' | translate }}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/lights">
          {{ 'menu.lights' | translate }}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/config">
          {{ 'menu.settings' | translate }}
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-error></app-error>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

    