mat-toolbar {
    div {
        width: 100%;
    }
}

mat-drawer-container {
    height: calc(100% - 64px);
}

mat-drawer {
    width: 240px;
    height: 100%;
    background: #38424E;

    mat-list {
        mat-list-item {

            a {
                color: #FCFCFC;
                font-weight: 700;
                text-decoration: none;
                display: block;
                width: 100%;
            }
        }
    }
}

mat-drawer-content {
    width: 100%;
    background: #FCFCFC;
}