<div fxlayout="row" class="md-padding">
  <div fxFlex="50">
    <mat-card>
      <div fxLayout="column">
        <mat-form-field fxFlex>
          <mat-select [(ngModel)]="lang">
            <mat-option *ngFor="let language of languages" [value]="language.code">
              {{ language.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="save()">
          {{ 'general.save' | translate }}
        </button>
      </div>          
    </mat-card>
  </div>
</div>
