@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.md-padding {
    padding: 16px;
}

.md-margin {
    margin: 16px;
}

.md-clickable {
    cursor: pointer;
}

a {
    cursor: pointer;
}
